.containers{
    height: 400px;
    border: 2px solid green;
    /* ager flex ki property use karne hai  then we use display flex  */
    display: flex;
    /* yha by defalut main ki line verticle hai.. so to change it we use direction as column  */
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* width ko preserve karna ho ... */
    /* jitne width hogi utni he rhahegi..... ager viewport change karte hai toh  */
    /* --------------------------------- */
    /* flex-flow ek shorthand notation hai...we can use upper value in one line  */
    /* flex-flow: row wrap ; */
    /* flex-flow: column nowrap; */


    /* justify-content: main axis uske according algin kar rha hota hai ; */
    justify-content: flex-start;
    /* saare values staring mein aa jayegi  */
    justify-content: flex-end;
    /* saare vlaues end mein aa jayegi  */
    justify-content: center;
      /* verticalyy center pe aa jaygi  */
    /* ssare values center mein a jayegi */
    justify-content: space-around;
    /* box ke beech mein equal space aa jayegi not excpet at staring */
    justify-content: space-evenly;
    /* equaly space distribute ho jayenge  */

 /* align-items: yeh cross axis ke alignment kar rha hota h; */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    /* vetically and horizontally bhi  */
    /* all direction se squezz ho kar center pe aa jayegi sb  */
    align-items: stretch;
    align-items: baseline;
    /* content ki base line match ho jate hai  */
      


}

.box{
    border: 1px solid brown;
    background-color: aqua;
}


.container{
    height: 400px;
    border: 2px solid green;
    /* ager flex ki property use karne hai  then we use display flex  */
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
    
    /* align content is it will handle space betweeen to box  */
    align-content: flex-end;
    align-content: flex-start;
    align-content: space-around;
    align-content: space-between;
    align-content: center;
    align-content: space-evenly;
    /* jitne flex item ki rows bna rha hn uski beech ki space ya alignment karta hai  */
}